@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <!-- Heading for the about page -->
    <h1 class="display-4">Get to Know Joel</h1>
    <br />
    <!-- Here is the link to Quick Wits Comedy (opens in a new tab) -->
    <a href="https://www.qwcomedy.com/" target="_blank"><h5>Quick Wits Comedy</h5></a>
    <br />
    <p>Joel regularly performs at Quick Wits Comedy</p>
    <!-- Here is the link to Baconsale (opens in a new tab) -->
    <a href="https://baconsale.com/" target="_blank"><h5>Baconsale</h5></a>
    <br />
    <p>Joel's podcast, Baconsale, has weekly updates on film and pop culture</p>
    <br />
    <!-- Add the Baconsale image which also links to the Baconsale site (opens in a new tab)-->
    <a href="https://baconsale.com/" target="_blank"><img src="~/baconsale.jpg" height="500px" /></a>
</div>