@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <!-- Here is the header -->
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <br />
    <!-- And here is the creepy image -->
    <img src="~/joel.jpg" />
</div>
